Image
System.map
boot/boot
boot/boot.o
boot/head.o
fs/bitmap.o
fs/block_dev.o
fs/buffer.o
fs/char_dev.o
fs/exec.o
fs/fcntl.o
fs/file_dev.o
fs/file_table.o
fs/fs.o
fs/inode.o
fs/ioctl.o
fs/namei.o
fs/open.o
fs/pipe.o
fs/read_write.o
fs/stat.o
fs/super.o
fs/truncate.o
fs/tty_ioctl.o
init/main.o
kernel/asm.o
kernel/console.o
kernel/exit.o
kernel/fork.o
kernel/hd.o
kernel/kernel.o
kernel/keyboard.o
kernel/mktime.o
kernel/panic.o
kernel/printk.o
kernel/rs_io.o
kernel/sched.o
kernel/serial.o
kernel/sys.o
kernel/system_call.o
kernel/traps.o
kernel/tty_io.o
kernel/vsprintf.o
lib/_exit.o
lib/close.o
lib/ctype.o
lib/dup.o
lib/errno.o
lib/execve.o
lib/lib.a
lib/open.o
lib/setsid.o
lib/string.o
lib/wait.o
lib/write.o
mm/memory.o
mm/mm.o
mm/page.o
tools/build
tools/system
tools/system.org
tools/system.tmp
